/* Write some CSS below */

/* style.css */
body{
  font-family: Overpass;
  color: #404042;
  margin: 0;
}


h1, h2, h3{
  font-family: Chivo;
  color: black;
}

a{
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}

p{
	color: black;
	font-size: 15px;
	opacity: 7;
	}

.banner{
	height: 100px;
	background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("https://img-4.linternaute.com/H-HQ5RB-WQtycXGSKtIruBB10Rk=/1500x/smart/856a2539cbdf4ddbacb366b7ddeb8764/ccmcms-linternaute/33461533.jpg");
	background-size: cover; 
	background-position: center;
	text-align: center;
	padding: 150px 0px;
}

.banner h1 {
	color: white;
	font-size: 45px;
	margin:0;
}

.banner p {
	color: white;
	font-size: 24px;
}

.btn_blue{
	height:36px; 
	width:100px;
	background-color: royalblue;
	padding:16px 48px;
	border-radius: 5px;
	text-align: center;
	display: inline-block;
	transition: 3s;
	text-decoration: none;
	margin: auto;
}

.Placement_cartes {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	justify-items: center;
}


.Campus_Card {
	height: 400px;
	width: 200px;
	border: 1px whitesmoke;
	border-radius: 4px;
	margin: 0px 0px 50px 0px;
	text-align: center;
	background: white;
	padding: 24px;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}	

.btn_black {
	height: 18px;
	width: 30px;
	background-color: black;
	padding: 16px 48px;
	border-radius: 5px;
	text-align: center;
	margin: 100px 0px 0px 0px
	}	

.Sous_Titre {
	text-align: center;
}

.footer {
	height: 50px;
	width: 1440px;
	background-color: royalblue;
	text-align: center;
	padding: 24px 0px;
}

.footer p {
	color: white;
